@model ToDoAndTrackerServer.Areas.ToDo.Models.ProjectDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<!-- TODO: set the format to be error -->
<p id="tasksErrorMessage"></p>

<div id="viewTasksForm">
    <h5>Tasks</h5>


    <p id="todoCounter"></p>

    <table class="table">
        <thead>
            <tr>
                <th>Task</th>
                <th>State</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="tasksByProject"></tbody>
    </table>
</div>

@section Scripts {
    <script src="/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        getTasksByProject(@Model?.Id);
    </script>
}
