@model ToDoAndTrackerServer.Areas.ToDo.Models.ProjectDTO
@using ToDoAndTrackerServer.Areas.ToDo.Models

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<!-- TODO: set the format to be error -->
<p id="tasksErrorMessage"></p>

<div>
    <h5>Tasks</h5>

    <p id="tasksCount"></p>

    <div id="addTaskToProjectForm">
        <br />
        <h3>Add a Task</h3>
        <form action="javascript:void(0);" method="POST" onsubmit="addTaskToProject()">
            <label for="createTaskName">Name: </label>
            <input type="text" id="createTaskName" placeholder="New task"><br />
            <label for="createTaskState">State: </label>
            <input type="text" id="createTaskState" placeholder="Backlog">
            @Html.DropDownList("TaskState", new SelectList(Enum.GetValues(typeof(TaskState))));
            <br />
            <input type="submit" value="Create">
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Task</th>
                <th>State</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="tasksByProject"></tbody>
    </table>
</div>

@section Scripts {
    <!-- 
        zhenying: Seems like js/site.js is already loaded so no need to load again.
        <script src="/js/site.js" asp-append-version="true">
    -->
    <script type="text/javascript">
        getTasksByProject(@Model?.Id);
    </script>
}
